@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET SignalR Chat App</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12" id="loginDiv">
        <input type="text" id="username" placeholder="username"/>
        <br />
        <input type="button" value="login" id="btnlogin"/>
    </div>
    <div class="col-md-12" id="chatDiv">
        <input type="text" id="message" />
        <input type="button" id="sendMessage" value="Send" />
        <input type="hidden" id="displayName" />
        <ul id="discussion"></ul>
    </div>
</div>

@section scripts
    {

    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            $("#loginDiv").show();
            $("#chatDiv").hide();
            $("#btnlogin").click(function () {
                var username = $("#username").val();
                if (username == "") return;
                $("#displayName").val(username);

                $("#loginDiv").hide();
                $("#chatDiv").show();
            });

            var signalrHub = $.connection.chatHub;
                
            $.connection.hub.start().done(function () {
                $("#sendMessage").click(function () {
                    signalrHub.server.herkeseGonder($("#displayName").val(), $("#message").val())
                });
            });

            signalrHub.client.herkeseGonder = function (gonderen, mesaj, tarih) {
                $("<li></li>").html("<strong>" + gonderen + "</strong>:" + mesaj + "<i>" + tarih + "</i>").appendTo("#discussion");
            }
        });
    </script>
}